a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #9e9a9a;
  font-size: 11px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: #9e9a9a;
}

p span {
  display: inline-block;
  margin-left: 20px;
}
